<p-toast  class="sm:hidden" [position]="'bottom-center'"/>
<p-toast class="hidden lg:flex" ></p-toast>
<div class="flex items-center justify-center w-screen h-screen">
  <router-outlet></router-outlet>
</div>


<!-- <div class="flex flex-col lg:flex-row items-start justify-start w-screen h-screen overflow-hidden realtive">
  <app-sidebar class="z-40 w-full lg:w-[65px]"></app-sidebar>

  <div class="flex flex-col items-start justify-start w-full h-full bg-white lg:pt-10 pt-7 lg:px-8 px-7">
    <app-title [title]="'ITEM MASTER'" [subtitle]="'VIEW AND STORE THE ITEMS'" class="w-full"></app-title>

    <span class="flex items-start justify-start w-full h-full flex-col lg:mt-10 mt-3">

      <span class="flex items-center justify-start w-full">
        <app-input class="lg:w-[462px] w-full" [placeHolder]="'PART NUMBER'" [title]="'ENTER THE PART NUMBER'" [assignee]="'partNumber'" (outputEmit)="getInput($event)"></app-input>
      </span>

      <span class="flex lg:flex-row flex-col items-center justify-start w-full mt-10 gap-9">
        <app-input class="lg:w-[462px] w-full" [placeHolder]="'QUANTITY'" [title]="'ENTER THE QUANTITY'" [assignee]="'quantity'" (outputEmit)="getInput($event)"></app-input>
        <app-input class="lg:w-[462px] w-full" [placeHolder]="'BIN NUMBER'" [title]="'ENTER THE BIN NUMBER'" [assignee]="'binNumber'" (outputEmit)="getInput($event)"></app-input>
      </span>


      <span class="flex lg:flex-row items-center lg:justify-start justify-end gap-5 w-full mt-10">

        <button class="hidden h-[40px] w-[100px] lg:flex items-center justify-center rounded-full bg-[#DA2127] hover:opacity-90 hover:duration-150 active:scale-95 text-white text-[12px] font-semibold">
          SUBMIT
        </button>

        <button class="hidden h-[40px] w-[100px] lg:flex items-center justify-center rounded-full bg-[#DADADA] hover:opacity-90 hover:duration-150 active:scale-95 text-[#515151] text-[12px] font-semibold">
          CLEAR
        </button>


        <button class="h-[40px] lg:hidden w-[100px] flex items-center justify-center rounded-full bg-[#DADADA] hover:opacity-90 hover:duration-150 active:scale-95 text-[#515151] text-[12px] font-semibold">
          CLEAR
        </button>

        <button class="h-[40px] lg:hidden w-[100px] flex items-center justify-center rounded-full bg-[#DA2127] hover:opacity-90 hover:duration-150 active:scale-95 text-white text-[12px] font-semibold">
          SUBMIT
        </button>
      </span>



    </span>

  </div>


</div> -->
